/* Your app custom styles here */
.nav_title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    color: blue;
}
.nav_title2{
    color: white;
}

.menu{
    text-align: left;
    font-size: 150%;
}

.page_menu{
    font-size:200% ;
}

.mini_title{
    color: blue;
}
.def{
    color: rgb(158, 158, 158);
    font-size: 90%;
}

.card{
    width: 150px;
    display: inline-block;
}

.but{
    width: 80%;
    margin:3%;
}

.link{
    display: block;
    color: white;
}
.utente, #name_user{
    margin: 0%;
    font-size: 115%;
}