.nav_title{
    color: blue;
}

img{
    width: 100%;
}

.link{
    margin-top: 0;
    padding: 0;
}

.pres{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}